*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../images/bg.jpeg');
    color:#868e96;
}
.primary-txt-color {
    color: #780a0c;
}

.primary-background-color {
    background-color: #780a0c;
}

@media (min-width:992px){
    .main-body{
        padding-left:17rem; 
    }

    #sidenav{
        left: 0;
        top: 48px;
        position: fixed;
        height: 100vh;
        width: 17rem;
        background-color: black;
        opacity: .7;
    }
}

.nav-bar{
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
}

.nav-bar a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 14px 16px;
}

a:hover, a:active{
    color: black !important;
    background-color: white;
    text-decoration: underline;
}

a:link, a:visited{
    color: white;
    text-decoration: none;
}

.ul-list{
    list-style-image: url('../images/triangle.PNG');
}

h1,h2,h3,h4,h5,h6{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform:uppercase;
    color:#343a40;
    padding-bottom: 0;
}

p{
    font: 'Exo 2', sans-serif;
    font-size: 18px;
}

h1{
    font-size:6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height:5.5rem;
}
h2{font-size:3.5rem;}
h3{font-size:2rem;}

.page-section{
    padding: 30px 0px;
    right: 0;
}

a.email-font{
    color: black;
}
a.email-font:hover, a.email-font:active{
    color: #780a0c !important;
    text-decoration: underline;
}

.main{
    background-color: white;
}

.program-expertise{
    display: inline-block;
}

.frame{
    width: 70px;
    height: 100px;
    padding-right: 10px;
    vertical-align: middle;
    display: inline-table;
}

.skills p{
    padding: 0;
    margin: 0;
}

.remove-icon{
    list-style-type: none;
    padding-bottom: 20px;
    left: 0;
}

.languages{
    padding-left: 40px;
}

.about{
    padding-top: 300px;
}